.confirmation-dialog {
	width: 60%;
	max-width: 290px;
	height: 80%;
	max-height: 130px;
}

.confirmation-dialog > h3 {
	margin: 0 0 16px 0;
}

.confirmation-dialog > .button-container {
	justify-content: space-between;
}
